<IfModule mod_rewrite.c>
    DirectoryIndex index.php
    Options -Indexes
    RewriteEngine on
    # Unconditionally rewrite everything to the "public" subdirectory
    RewriteRule (.*) public/$1 [L]
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>
